@{
    ViewData["Title"] = "Home Page";
}

<h1 style="position: absolute; color: white; left: 40%; top: 20%">Student Database Project</h1>
<h4 style="position: absolute; color: white; left: 40%; top: 30%">by Dogac Akyildiz</h4>
<img style="min-width; 100%; background-position: center;
  background-size: cover;" src="https://www.w3schools.com/w3images/forestbridge.jpg">