@{
    ViewData["Title"] = "Home Page";
}

<html>
<body>

    <div class="bg"></div>

    <img src="https://www.w3schools.com/w3images/forestbridge.jpg" style="position: absolute; top: 6%; left: 6%; z-index: -1">

    <h1 style="position: absolute; top: 40%; left: 35%; color: white; ">Student Database Project</h1>
    <h2 style="position: absolute; top: 52%; left: 35%; color: white; ">by Dogac Akyildiz</h2>

</body>
</html>