@using Microsoft.AspNetCore.Identity
@inject SignInManager<MyUser> SignInManager
@inject UserManager<MyUser> UserManager


@if (SignInManager.IsSignedIn(User))
{

    <a id="manage" class="w3-bar-item w3-button" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>

    <a class="w3-bar-item w3-button" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">Logout</a>
}
else
{

    <a class="w3-bar-item w3-button" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>

    <a class="w3-bar-item w3-button" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>

}