@model Student
@{
    ViewData["Title"] = "Create";
}

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jodit/3.1.92/jodit.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/jodit/3.1.92/jodit.min.js"></script>

<style>
    #my_select {
        width: 40%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    #stu_input {
        width: 40%;
        display: inline-block;
    }

    h1 {
        text-align: center;
    }
</style>

<br><br>

<section class="ab-info-main py-md-5">
    <div class="container py-md-3">
        <h2 style="display: block; text-align: center; "><b>Create a Student</b></h2>
        <div class="speak px-lg-5">

            <div class="row" style="display: block; text-align: center; ">
                <div class="col-md-4">
                    <form asp-action="Create" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <h3>Student Name</h3>
                            <input asp-for="Name" class="form-control w3-input w3-border w3-round-large" style="width: 40%; display: inline-block; " />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <h3>Student ID</h3>
                            <input asp-for="StuID" id="stu_input" class="form-control w3-input w3-border w3-round-large" />
                            <span asp-validation-for="StuID" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <h3>Department Name</h3>
                            <select asp-for="DepartmentId" id="my_select" class="form-control" asp-items="ViewBag.DepartmentName"></select>
                        </div>
                        <div class="form-group">
                            <h3>Upload Your Picture</h3>
                            <input type="file" id="FileUrl" name="FileUrl" class="form-control w3-input w3-border w3-round-large" style="width: 40%; display: inline-block; " />
                        </div>
                        <div class="form-group" style="width: 60%; display: inline-block; ">
                            <h3>Paste your CV Here</h3>
                            <input asp-for="CVContent" class="form-control w3-input w3-border w3-round-large" />
                            <span asp-validation-for="CVContent" class="text-danger"></span>
                        </div>
                        <br><br>
                        <div class="form-group">
                            <input type="submit" value="Create" class="w3-input w3-border w3-round-large" style="width: 40%; display: inline-block; " />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        var editor = new Jodit('#CVContent');
    </script>
}