@model DogacProject.Models.Department

@{
    ViewData["Title"] = "Department Details";
}

<style>


    #departments {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #departments td, #departments th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #departments tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #departments tr:hover {
            background-color: #ddd;
        }

        #departments th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #0A1C34;
            color: white;
        }
</style>

<table id="departments">
    <tr>
        <th>Department ID</th>
        <th>Department Name</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr>
        <td>@Model.Id</td>
        <td>@Model.Name</td>
        <td><a asp-action="Edit" asp-route-id="@Model.Id" class="w3-button w3-indigo">Edit</a></td>
        <td><a asp-action="Delete" asp-route-id="@Model.Id" class="w3-button w3-red">Delete</a></td>
    </tr>
</table>

<div style="display: block; text-align: center; ">
    <br>
    <a asp-action="Index" class="w3-button w3-indigo" id="back">Back to List</a>
</div>