@model DogacProject.Models.Department
@{
    ViewData["Title"] = "Edit";
}

<style>
    #my_select {
        width: 40%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    #stu_input {
        width: 40%;
        display: inline-block;
    }

    h1 {
        text-align: center;
    }
</style>

<br><br>

<h1>Edit @Model.Name</h1>

<div class="row" style="display: block; text-align: center; ">
    <div class="col-md-4">
        <form name="StudentsEditForm" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <h3>Department Name</h3>
                <input asp-for="Name" class="form-control w3-input w3-border w3-round-large" style="width: 40%; display: inline-block; " />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <button type="submit" class="w3-button w3-indigo">Edit</button>
            </div>
        </form>
    </div>
</div>

<div>
    <br>&nbsp;&nbsp;&nbsp;&nbsp;
    <a asp-action="Index" class="w3-button w3-indigo w3-round-large">Back to List</a>
</div>

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>