@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<br><br>
    <header>
        &nbsp;&nbsp;&nbsp;<h1 class="text-danger">@ViewData["Title"]</h1>
        &nbsp;&nbsp;&nbsp;<p class="text-danger">You do not have access to this resource.</p>
    </header>
